{% extends 'base.html.twig' %}

{% block body %}

   <div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="titre">Admin Login</h2>
        </div>
    </div>

    <div class="container-fluid home">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="wrapper">
                    <form class="form-signin" action="{{ path('postlogin') }}" method="POST">
                        <input type="text" class="form-control" name="username" placeholder="Pseudo" required=""/>
                        <input type="password" class="form-control" name="password" placeholder="********" required=""/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                        {% if errors is defined %}
                            {% for error in errors %}
                                <div class="row">
                                    <div class="alert alert-danger alerte_erreur">{{ error }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

        body{
            background: url("http://www.nat-geo.ru/upload/iblock/839/839701e18c8821d2a53b40fc72c9c6b0.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .titre{
            color: greenyellow;
            font-family: 'Orbitron', sans-serif;
            padding-top: 10px;
            padding-bottom: 10px;
             margin-bottom: 30px;
            margin-top: 30px;
        }
        h2
        {
            border: 1px solid black;
            background-color: rgba(0,0,0, 0.7);
            text-align: center;

        }


    </style>
{% endblock %}