{% extends 'base.html.twig' %}

{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Circuits</title>
    </head>
    <body>
    <div class="container">
        <h1>Circuts</h1>
        <div class="row">
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>

    </div>



    </body>
    </html>

{% endblock %}

{% block stylesheets %}
    <style>

        h1
        {
            text-align: center;
        }
        .jumbotron
        {
            text-align: center;
        }
        img {

            max-width : 100%;
            heigth: auto;


        }

    </style>
{% endblock %}